body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    background-image: url(./flower.jpg), url(./todo.jpg);
    background-size:cover;
    background-position: 100%;
}

h1 {
    text-align: center;
    color: #FFF;
    margin-top: 270pX;
}

#center{
    text-align: center;
margin: 0  auto;

}

#calendar {
    max-width: 600px;
    margin: 0 auto;
}

form {
    margin-bottom: 20px;
    
}

input[type="text"],
/* cSpell:ignore datetime */
input[type="datetime-local"],
button {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    margin-top: 60px;
}

#material-symbols-outlined::-webkit-calender-picker-indicator{
    background-image: url('./cal.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
margin-right: 5px;
cursor: pointer;

}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#calendar {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


.has-note {
    color: #666;
    font-style: italic;
}

/* Style for search input */
#searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 200px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Style for sort buttons */
#sortByName,
#sortByReminderDate {
    padding: 8px 12px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sortByName:hover,
#sortByReminderDate:hover {
    background-color: #45a049;
}


/* Styles for small screens */
@media only screen and (max-width: 600px) {
    /* Add your styles for small screens here */
    body {
        font-size: 14px;
        background-image: url(./flower.jpg);
    }
}

/* Styles for large screens */
@media only screen and (min-width: 601px) {
    /* Add your styles for large screens here */
    body {
        font-size: 16px;
        
    }

}

@media only screen and (max-width: 768px){
body{
    background-image: url('./todo.jpg');
}
#material-symbols-outlined::-webkit-calender-picker-indicator{
    display: none;
}
}
